* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#menu {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
}
.container {
    background-color: lightskyblue;
}
.container {
    background-color: lightskyblue;
    position: absolute;
}
.row {
    background-color: maroon;
    float: left;
}
@media (min-width: 992px) {
    .col-dt-1, .col-dt-2, .col-dt-3, .col-dt-4, .col-dt-5, .col-dt-6,
    .col-dt-7, .col-dt-8, .col-dt-9, .col-dt-10, .col-dt-11, .col-dt-12{
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border: 1px solid black;
    }
    .col-dt-1{
        width: 8.33%;
    }
    .col-dt-2{
        width: 16.66%;
    }
    .col-dt-3{
        width: 25%;
    }
    .col-dt-4{
        width: 28.33%;
    }
    .col-dt-5{
        width: 41.66%;
    }
    .col-dt-6{
        width: 50%;
    }
    .col-dt-7{
        width: 58.33%;
    }
    .col-dt-8{
        width: 66.66%;
    }
    .col-dt-9{
        width: 75%;
    }
    .col-dt-10{
        width: 83.33%;
    }
    .col-dt-11{
        width: 91.66%;
    }
    .col-dt-12{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6,
    .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12{
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        border: 1px solid black;
    }
    .col-tb-1{
        width: 8.33%;
    }
    .col-tb-2{
        width: 16.66%;
    }
    .col-tb-3{
        width: 25%;
    }
    .col-tb-4{
        width: 33.33%;
    }
    .col-tb-5{
        width: 41.66%;
    }
    .col-tb-6{
        width: 45%;
    }
    .col-tb-7{
        width: 58.33%;
    }
    .col-tb-8{
        width: 66.66%;
    }
    .col-tb-9{
        width: 75%;
    }
    .col-tb-10{
        width: 83.33%;
    }
    .col-tb-11{
        width: 91.66%;
    }
    .col-tb-12{
        width: 95%;
    }
}
@media (max-width: 767px) {
    .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6,
    .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12{
        float: left;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border: 1px solid black;
    }
    .col-mb-1{
        width: 8.33%;
    }
    .col-mb-2{
        width: 16.66%;
    }
    .col-mb-3{
        width: 25%;
    }
    .col-mb-4{
        width: 33.33%;
    }
    .col-mb-5{
        width: 41.66%;
    }
    .col-mb-6{
        width: 50%;
    }
    .col-mb-7{
        width: 58.33%;
    }
    .col-mb-8{
        width: 66.66%;
    }
    .col-mb-9{
        width: 75%;
    }
    .col-mb-10{
        width: 83.33%;
    }
    .col-mb-11{
        width: 91.66%;
    }
    .col-mb-12{
        width: 95%;
    }
}
h3 {
    position: relative;
    width: 150px;
    text-align: center;
    float: right;
}
section{
    background-color: lightgray;
}
div {
    padding: 10px;
    clear: right;
}
#chicken {
    background-color: lightgreen;
    border: 1px solid black;
}
#beef {
    background-color: lightseagreen;
    border: 1px solid black;
}
#sushi {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}